services:
{% for image, deps in images.items() %}
  {{image}}:
    #pull_policy: build
    image: ${REGISTRY}/inginious/env-{{image}}
    build:
      dockerfile: ../../grading/{{image}}/Dockerfile
      context: ../../grading/{{image}}
      args:
        REGISTRY: ${REGISTRY}
      cache_from:
        - ${REGISTRY}/inginious/env-{{image}}:cache
        - type=gha
      cache_to:
        - ${REGISTRY}/inginious/env-{{image}}:cache
        - type=gha
{% if deps|length != 0 %}
    depends_on:
{% for dep in deps %}
      - {{dep}}
{% endfor %}
{% endif %}
{% endfor %}
