services:
{% for image, deps in images.items() %}
  {{image}}:
    image: ${REGISTRY}/inginious/${TYPE}-{{image}}
    build:
      dockerfile: ./Dockerfile
      context: {{base_path}}/{{image}}
      args:
        REGISTRY: ${REGISTRY}
      cache_from:
        - ${REGISTRY}/inginious/${TYPE}-{{image}}:cache
        - type=gha
      cache_to:
        - ${REGISTRY}/inginious/${TYPE}-{{image}}:cache
        - type=gha
{% if deps|length != 0 %}
    depends_on:
{% for dep in deps %}
      - {{dep}}
{% endfor %}
{% endif %}
{% endfor %}
